/* line 18, all.css.scss */
.clearfix {
  *zoom: 1; }
  /* line 10, all.css.scss */
  .clearfix:before, .clearfix:after {
    display: table;
    content: ""; }
  /* line 14, all.css.scss */
  .clearfix:after {
    clear: both; }

/* line 20, all.css.scss */
body {
  margin: 0;
  font-family: "Hiragino Sans GB W3" arial;
  color: #333; }
  /* line 25, all.css.scss */
  body a {
    text-decoration: none;
    color: #52ABFD; }

/* line 31, all.css.scss */
header {
  background-color: #52ABFD; }
  /* line 33, all.css.scss */
  header a {
    color: white;
    text-decoration: none; }
  /* line 37, all.css.scss */
  header h1 {
    margin: 0 auto;
    padding: 30px;
    text-shadow: 0 0 15px #333;
    display: block;
    width: 960px; }

/* line 46, all.css.scss */
.timestamp {
  float: right;
  font-size: 14px;
  color: #999; }

/* line 52, all.css.scss */
h2 {
  font-weight: normal;
  line-height: 27px;
  margin-bottom: 30px; }

/* line 58, all.css.scss */
h3 {
  font-weight: normal; }

/* line 62, all.css.scss */
.container {
  width: 960px;
  margin: 0 auto;
  *zoom: 1; }
  /* line 10, all.css.scss */
  .container:before, .container:after {
    display: table;
    content: ""; }
  /* line 14, all.css.scss */
  .container:after {
    clear: both; }

/* line 68, all.css.scss */
#main {
  width: 640px;
  float: left; }
  /* line 71, all.css.scss */
  #main article {
    padding: 30px;
    margin: 30px 30px 0 0;
    -webkit-box-shadow: 0 0 15px #dddddd;
    -moz-box-shadow: 0 0 15px #dddddd;
    box-shadow: 0 0 15px #dddddd;
    font-size: 14px;
    line-height: 160%; }
    /* line 78, all.css.scss */
    #main article img {
      border: 1px solid #DDD;
      padding: 5px; }
    /* line 83, all.css.scss */
    #main article pre {
      border: 1px solid #DDD;
      border-left-width: 15px;
      background-color: #FBFBFB;
      padding: 5px; }
  /* line 91, all.css.scss */
  #main .readmore {
    float: right; }

/* line 96, all.css.scss */
li {
  line-height: 150%; }

/* line 100, all.css.scss */
aside {
  width: 320px;
  float: left;
  margin-top: 30px; }
  /* line 105, all.css.scss */
  aside h3 {
    margin: 0;
    color: #666; }
  /* line 110, all.css.scss */
  aside ul {
    list-style: none;
    padding-left: 20px; }

/* line 116, all.css.scss */
footer {
  margin-top: 30px;
  margin-bottom: 60px; }
